<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills navbar-dark bg-light">
        <li class="nav-item">
            <a 
            href="javascript:void(0);"
            routerLink="/home"
            routerLinkActive="active" 
            class="nav-link btn-light" aria-current="page">Home</a></li>
        <li class="nav-item"><a 
                href="javascript:void(0);"
                routerLink="/calcular-media"
                routerLinkActive="active" class="nav-link">Calcular Média</a></li>
        <li class="nav-item"><a 
            href="javascript:void(0);"
            routerLink="/calculadora"
            routerLinkActive="active" class="nav-link">Calculadora</a></li>
        <li class="nav-item"><a 
                href="javascript:void(0);"
                routerLink="/cadastro-aluno"
                routerLinkActive="active" class="nav-link">Cadastro Aluno</a></li>
        <li class="nav-item"><a 
            href="javascript:void(0);"
            routerLink="/apolice-seguro"
            routerLinkActive="active" class="nav-link">Apólice de Seguro</a></li>
        <li class="nav-item"><a
            href="javascript:void(0);"
            routerLink="/tela-pai"
            routerLinkActive="active" class="nav-link">Tela Pai</a></li>
        <li class="nav-item"><a
            href="javascript:void(0);"
            routerLink="/lista-tarefas"
            routerLinkActive="active" class="nav-link">Lista de Tarefas</a></li>
        <li class="nav-item"><a
            href="javascript:void(0);"
            routerLink="/usuario"
            routerLinkActive="active" class="nav-link">Usuario API</a></li>
    </ul>
</header>